<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <br>
        <h2>Qual é sua pergunta ?</h2>
        
        <a href="/perguntar" class="btn btn-dark">perguntar</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4><%= pergunta.titulo %></h4>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-dark">responder</button></a>
                </div>
            </div>

            

        <% }) %>

    </div>    
</body>
<%- include('./partials/footer.ejs') %>